/* main.css --- Own plugins to Twitter Bootstrap
 Commentary:
Code:
*/
body {
  height: 100%;
}

/* /\* It covers all the height *\/ */
/* #cover { */
/*   height: 100vh; */
/*   padding-top: 50px; */
/*   padding-bottom: 50px; */
/*   color: #f8f8f8; */
/*   background-color: #484848; */
/*   text-align: center; */
/* } */

/* #header{ */
/*   position: absolute; */
/*   top: 20%; */
/*   width: 100%; */
/* } */

#main {
  top: 0px;
}

/* main.css ends here */
